.skeleton-loader-container {
  display: flex;
  padding: 20px;
  margin-bottom: 10px;
  border: 1px solid #BDBDBD;
  border-radius: 20px;
}

.img-skeleton {
  border-radius: 20px;
}

.text-container {
  width: 100%;
  padding-left: 20px;
}

.text-container div {
  margin-bottom: 10px;
}

@media screen and (max-width: 720px) {
  .skeleton-loader-container  {
    flex-wrap: wrap;
    word-break: break-all;
  }
  .text-container {
    padding-left: 0px;
    padding-top: 20px;
  }
}